/* Global Ruls */
/*  */
/* Add Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap');

/* global css seletor get */
*,
*::after,
*::before {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Cairo',"segoe UI" ,sans-serif;
  transition: background 0.3s ease-out , color 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}
/*  */
/* Root variables Properties */
:root {
  --main-clr: #BD1616;
  --alt-clr: linear-gradient(260deg , #c4c4c4 ,#f6f6f6 ,#fff);
  --main-tx-clr: #252525;
  --alt-tx-clr: #fff;
}
/*  */
/* Start Media Querys */
@media (max-width: 767px) {
  .container {
    width: calc(100% - 30px);
    margin: auto;
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .container {
    width: calc(100% - 80px);
    padding: 0 15px;
    margin-right: 25px;
    margin-left: 25px;
  }
}
@media (min-width: 992px) {
  .container {
    width: calc(100% - 80px);
    padding: 0 15px;
    margin-right: 25px;
    margin-left: 25px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: calc(100% - 80px);
    padding: 0 15px;
    margin-right: 25px;
    margin-left: 25px;
  }
}
/* end Global Ruls */

body.mainColorActive{
  --alt-clr: linear-gradient(80deg , #2C272E ,#252525 ,#112031);
  --main-tx-clr:#fff;
  
}


header.navbar {
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-clr);
  height: 55px;
  width: 100%;
  box-shadow: 0 0 15px 0 #232323;
}
header.navbar .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.navbar .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 210px;
  margin: auto;
}
header.navbar img {
  max-width: 100%;
}
header.navbar .logo h2 {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--alt-tx-clr);
  user-select: none;
}
header.navbar .toggle {
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  padding: 0 8px;
  user-select: none;
  transition: opacity 0.3s ease-out;
}
header.navbar .toggle:hover{
  opacity: 0.8;
  
}
header.navbar .appearance {
  position: absolute;
  top: 100%;
  right: 0;
  height: 0;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  background: var(--alt-clr);
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, height 0.5s ease-out;
  border: 2px solid #777;
  border-radius: 5px;
}
header.navbar .appearance.active {
  height: fit-content;
  opacity: 1;
}

@media (max-width: 892px) {
  header.navbar .appearance {
    width: 100%;
  }
}
header.navbar .appearance .appearanceHead {
  background: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  border-bottom: 4px solid #202020;
}
.appearance .appearanceHead h4 {
  font-weight: normal;
  color: #202020;
}
.appearance .appearanceHead .sec-ico {
  padding: 8px;
  background: linear-gradient(150deg, #ff5677, #ecb365);
}

.appearance .color-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
  align-content: space-between;
  gap: 10px;
  padding: 15px;
}
.appearance .color-container .clr-box {
  width: 65px;
  height: 50px;
  box-shadow: 0 0 5px 0 #2525259d;
  cursor: pointer;
}
.appearance .mode-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  margin: auto;
  padding: 2px;
  border-bottom: 4px solid var(--main-tx-clr);
  cursor: pointer;
  transition: background 0.3s ease-out;
}
.appearance .mode-container:hover {
  background: #2525252a;
}
.appearance .mode-container > :first-child {
  font-size: 1.8rem;
  color: #4c3f91;
}
.appearance .mode-container h3 {
  margin: auto;
  padding: 10px 0;
  color: var(--main-tx-clr);
}

main.todo {
  position: relative;
  background: var(--alt-clr);
  min-height: 100vh;
}

main.todo .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 55px;
  background-image: url(../imgs/main_background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 360px;
  min-height: 100vh;
}
@media (min-width:992px) {
  main.todo .container {
    background-position: right center;
  }
  
}
.container .timeAndCalender {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: #f1f1f1;
  padding: 15px 10px;
  margin-top: 10px;
  border-bottom: 5px solid var(--main-clr);
}
.timeAndCalender .time .clockicon,
.timeAndCalender .calender .cleandicon {
  color: var(--alt-tx-clr);
  font-size: 1.8rem;
  padding: 5px;
  margin: 5px;
  background: linear-gradient(125deg, #ea5c2b, #f6d860);
  border-radius: 5px;
}
.timeAndCalender .time,
.timeAndCalender .calender {
  display: flex;
  align-items: center;
  font-weight: 400;
  text-transform: uppercase;
}
main.todo .container .bar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 10vh;
}
main.todo .container .bar-container > :nth-child(1),
main.todo .container .bar-container > :nth-child(3) {
  font-size: 1.5rem;
  color: #fff;
  padding: 5px;
  background: var(--main-clr);
  border-radius: 5px;
}
main.todo .container .bar-container .progressbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50%;
}
.bar-container .progressbar .main-bar {
  position: relative;
  height: 10px;
  background: var(--main-clr);
  border-radius: 20px;
  transition: width 0.5s ease-in-out;
}
.bar-container .progressbar .main-bar .persent-value {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin: 0;
  padding: 5px;
  color: #fff;
  background: var(--main-clr);
  border-radius: 15px;
  color: var(--alt-tx-clr);
  user-select: none;
}
.container .main-list {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.container .main-list ul.todo-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  backdrop-filter: blur(5px);
  margin-bottom: 6px;
}
.main-list .appLogo {
  margin-right: auto;
  padding: 15px 0;
  font-size: 2rem;
  color: var(--main-clr);
}
.main-list ul.todo-items li >:first-child{
  color: #252525;
  font-size: 1.3rem;
}
.main-list ul.todo-items li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  padding: 8px 10px;
  list-style: none;
  background: #f7f7f7;
  user-select: none;
  border: 2px solid #999;
}
@media (max-width:768px) {
  .main-list ul.todo-items li {
    flex-direction: column;
  }
  
}
.main-list ul.todo-items li a {
  text-decoration: none;
  color: #202020;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 5px;
  line-break: anywhere;
}
@media (min-width:800px) {
  .main-list ul.todo-items li a {
    margin-right: auto;
    max-width: 60%;
  }
}
.main-list ul.todo-items li .date{
  font-size: 12px;
}

.main-list ul.todo-items li.Waiting {
  background: #FFBD35;
}
.main-list ul.todo-items li.TaskFinished  a ,
.main-list ul.todo-items li.TaskFinished .date {
  color: #000;
}
.main-list ul.todo-items li.TaskFinished {
  background: var(--main-clr);
  opacity: 0.5;
  text-decoration: line-through;
}
.main-list ul.todo-items li.Waiting a ,
.main-list ul.todo-items li.Waiting .date{
  color: #252525;
}

@media (max-width: 768px) {
  .main-list ul.todo-items li a {
    max-width: auto;
  }
}
.main-list ul.todo-items li .selection-stat {
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(1, 0, 0, 1);
}
.main-list ul.todo-items li:hover .selection-stat {
  opacity: 1;
}
.main-list ul.todo-items li .selection-stat .finish,
.main-list ul.todo-items li .selection-stat .wait,
.main-list ul.todo-items li .selection-stat .clear {
  font-size: 1.3rem;
  cursor: pointer;
  padding: 5px;
  user-select: none;
}
.main-list ul.todo-items li .selection-stat .finish {
  color: #519259;
}
.main-list ul.todo-items li .selection-stat .wait {
  color: #f58634;
}
.main-list ul.todo-items li .selection-stat .clear {
  color: #7b113a;
}
.main-list .addtask {
  position: fixed;
  bottom: 15px;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 15px 10px;
  background: var(--main-clr);
  border-radius: 2px;
}
@media (max-width:768px) {
  .main-list .addtask {
    left: 4%;
  }
}
.main-list .addtask .newTaskLbl {
  font-size: 1rem;
  font-family: 400;
  text-transform: capitalize;
  color: #fff;
}
@media (max-width: 768px) {
  .main-list .addtask .newTaskLbl {
    font-size: 0.9rem;
    font-weight: normal;
  }
}
.main-list #newTaskInput:focus {
  outline: none;
  background: #fff;
}
.main-list #newTaskInput {
  flex: 1;
  border: none;
  border-bottom: 5px solid #c4c4c4;
  background: #e4e4e4;
  transition: background 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.addtask button.sendBtn {
  background: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease-out;
}
.addtask button.sendBtn > :first-child{
  font-size: 1.3rem;
  color: #252525;
}
.addtask button.sendBtn:hover {
  background: rgb(184, 183, 183);
}
